<%- include('./header') %>

<div class="bg-image">
  <img id="imgPlace"
    src="/images/places/<%= imagePlace %>"
    class="w-100"
    alt="Background"
  />
  <div class="mask mask-custom">
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
      <h1 id="titlePlace" class="text-white fw-bold"><%= titlePlace %></h1>
    </div>
  </div>
</div>

<section id="categories" class="pt-5">
  <p id="descriptionPlace">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum consectetur dui, nec sagittis ex consectetur eget. Mauris urna ex, commodo eu porttitor vel, bibendum a leo. Fusce vehicula condimentum nisi, quis dignissim est ullamcorper accumsan. Etiam eget leo ullamcorper, pellentesque turpis consectetur, ullamcorper turpis. Nulla vitae quam vehicula, feugiat felis non, volutpat libero. Mauris a tellus eget dui consectetur egestas. Phasellus sit amet consectetur erat.<br>
  Duis lorem nulla, facilisis non ex in, aliquet eleifend leo. Praesent placerat ultricies nibh, id ornare mauris finibus nec. Nunc pulvinar non massa sit amet dictum. Quisque scelerisque odio eget augue varius condimentum. Quisque nec laoreet nulla. Cras tempus, sapien ut consequat fringilla, justo diam fermentum sem, eu fringilla eros dolor nec magna. Fusce vitae maximus neque. Morbi ac gravida nunc, a auctor sapien. Donec ligula eros, pellentesque ac ante eu, euismod eleifend ex. Ut posuere ipsum lorem, quis porta lacus aliquam ut. In fermentum dignissim ipsum.</p>
  <p class="text-end"><%= datePlace %></p>
</section>

<script>const title = "<%= titlePlace %>"</script>

<section id="forms">
  <div class="d-flex flex-wrap justify-content-around">
    <button id="editPlaceBtn" class="btn btn-primary card-space">Edit Place</button>
    <button id="deletePlaceBtn" class="btn btn-primary card-space">Delete Place</button>
    <p id="deleteFormResponse"></p>
  </div>
  <form id="editPlaceForm" hidden>
    <div class="mb-3">
      <label for="title" class="form-label">Change Title</label>
      <input type="text" class="form-control" id="title">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Change Description</label>
      <textarea class="form-control" id="description"></textarea>
    </div>
    <div class="mb-3">
      <label for="img" class="form-label">Change Image</label>
      <input type="file" class="form-control" id="img" accept="image/*">
    </div>
    <button id="submitChanges" type="submit" class="btn btn-primary">Submit</button>
    <p id="formResponse"></p>
  </form>
</section>

<script><%- include('../public/javascripts/place.js') %></script>
<%- include('./footer') %>
